{{/* Used to render an anchor link for headings */}}

<h{{ .Level }} id="{{ .Anchor | safeURL }}">
    <a a href="#{{ .Anchor | safeURL }}">
    {{- if .Page.Site.Params.enableAnchorIcon -}}
        {{- $anchorIcon := .Page.Site.Params.anchorIcon | default "/svg/ui.svg#linkIcon" -}}
        <span class="anchor-link">
            <svg class="icon anchor-icon">
                <use href="{{ $anchorIcon | safeURL }}" />
            </svg>
        </span>
    {{- end -}}

        {{ .Text | safeHTML }}
    </a>
</h{{ .Level }}>