
{{/* Obtains a fingerprinted image, along with a set of alternative formats (webp, jpg), and the width & height of the image */}}
{{ $info := partial "utils/picture.html" . }}

{{/* Read information about any classes from the alt text, then sanitize the alt text */}}
{{ $class := delimit (findRE "class\\.([a-z,_,\\-]*) " .Text) " " | replaceRE "class\\." "" }}
{{ $alt := replaceRE "class\\.([a-z,_,\\-]*) " "" .Text | safeHTML }}

{{/* If there's no title, set the title to the alt text. */}}
{{ $title := $alt }}
{{ if .Title }}
    {{ $title = .Title }}
{{ end }}

{{ if $info.alt }}
<picture>
    {{ range $info.alt }}
        <source srcset="{{ .url }}">
    {{ end }}
    <img
        src="{{ $info.url }}"
        {{ with $alt }}alt="{{ . }}"{{ end }}
        {{ with $class }}class="{{ . }}"{{ end }}
        width="{{ $info.width }}"
        height="{{ $info.height }}"
        {{ with $title }}title="{{ . }}"{{ end }}/>
</picture>
{{ else }}
<img
    src="{{ $info.url }}"
    {{ with $alt }}alt="{{ . }}"{{ end }}
    {{ with $class }}class="{{ . }}"{{ end }}
    width="{{ $info.width }}"
    height="{{ $info.height }}"
    {{ with $title }}title="{{ . }}"{{ end }}/>
{{ end }}