// https://codyhouse.co/ds/globals/colors
// https://github.com/dracula/dracula-theme/

@mixin dark-theme {
    --theme-name: "dark";
    @include defineColorHSL(--color-accent-darker, 210, 33%, 20%);
    @include defineColorHSL(--color-accent-dark, 210, 33%, 30%);
    @include defineColorHSL(--color-accent, 210, 33%, 40%);
    @include defineColorHSL(--color-accent-light, 210, 33%, 50%);
    @include defineColorHSL(--color-accent-lighter, 210, 33%, 60%);

    @include defineColorHSL(--color-primary, $primaryColorDarkH, $primaryColorDarkS, $primaryColorDarkL);
    @include defineColorHSL(--color-bg, 210, 33%, 13%);
    @include defineColorHSL(--color-contrast-lower, 211, 25%, 17%);
    @include defineColorHSL(--color-contrast-low, 212, 15%, 26%);
    @include defineColorHSL(--color-contrast-medium, 215, 6%, 58%);
    @include defineColorHSL(--color-contrast-high, 220, 5%, 89%);
    @include defineColorHSL(--color-contrast-higher, 0, 0%, 100%);
    .theme-icon-light {
        display: none;
    }
    .theme-icon-dark {
        display: inline-block;
    }
    img {
        filter: brightness(80%);
    }

    @if ($enableHighlight) {
        /* https://xyproto.github.io/splash/docs/all.html */
        /* Color values matching dracula style */

        --chroma-line-numbers-background: #ffffcc;
        --chroma-line-numbers-color: #7f7f7f;
        --chroma-keyword-color: #ff79c6;
        --chroma-name-color: #8be9fd;
        --chroma-attribute-color: #50fa7b;
        --chroma-literal-color: #f1fa8c;
        --chroma-number-color: #bd93f9;
        --chroma-comment-color: #6272a4;
        --chroma-deleted-color: #8b080b;
        --chroma-output-color: #44475a;
    }
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        @include dark-theme;
    }
}

@if ($defaultTheme == "dark") {
    :root {
        @include dark-theme;
    }
} @else {
    :root[data-theme="dark"] {
        @include dark-theme;
    }
}
