// This file is meant for crucial layout code that
// Should be inlined

{{ with resources.Get "scss/config.scss" | resources.ExecuteAsTemplate "" . }}
    {{ .Content }}
{{ end }}


:root {
    --header-height: 59.8833px;
}

html {
    scroll-behavior: smooth;
}

*[id] {
    scroll-margin-top: 6rem;
}

// The main element needs to be padded to account for the height of the header
.main {
    padding-top: var(--header-height);
}

img.profile-pic {
    clip-path: ellipse(50% 50% at center);
}

.content {
    max-width: $postWidth;
    margin: 4rem auto 0;
    padding: 1rem 1rem 0;
    p {
        margin: 0em 0 1em;
        line-height: $lineHeight;
    }
    img {
        margin: 2em auto;
        max-width: 100%;
        height: auto;
        clear: both;
        display: block;
    }
    img.aside {
        float: right;
        max-width: 12rem;
        margin: 0 0 0 0.5em;
    }
    video {
        display: block;
        max-width: 100%;
        margin: 2em auto;
        clear: both;
    }
    sup {
        font-size: 70%;
        vertical-align: super;
        a {
            text-decoration: none;
        }
    }
    ol, ul {
        margin: 0;
        padding-left: 2em;
        line-height: $lineHeight;
    }
    hr {
        border: none;
        margin: 2em auto;
        height: 1px;
        background: hsl(0, 0, 50%);
        width: 10em;
    }
}

@media (max-width: $maxWidth) {
    .content {
        img.aside {
            float: none;
            margin: 0 auto;
        }
    }
}