// This file is meant for crucial layout code that
// Should be inlined

// If someone can figure out what this should be applied to, please tell me
// It didn't work until I applied it to literally everything
html {
    {{ if .Site.Params.enableSmoothScroll | default true }}
        scroll-behavior: smooth;
    {{ end }}
    scroll-padding-top: 3rem;
}
{{ if eq .Site.Params.headerLayout "flex" }}
.header {
    position: fixed;
    width: 100%;
}
{{ else }}
.header {
    position: relative;
    background: $headerBackground;
}
{{ end }}

// The main element needs to be padded to account for the height of the header
.main {
    padding: var(--header-height) 0 0;
    display: block;
}

.main-inner {
    margin: 0 auto;
    display: block;
}

{{ with .Site.Params.lineHeight | default 2 }}
    $lineHeight: {{ . }};
{{ end }}

.post {
    padding: 4rem 1rem 0;
    p {
        margin: 0em 0 1em;
        line-height: $lineHeight;
    }
    img {
        display: block;
        margin: 2em auto;
        max-width: 100%;
        border: 1px solid var(--color-contrast-lower);
        clear: both;
    }
    video {
        display: block;
        max-width: 100%;
        margin: 2em auto;
        clear: both;
    }
    sup {
        font-size: 70%;
        vertical-align: super;
        a {
            text-decoration: none;
        }
    }
    ol, ul {
        margin: 0;
        padding-left: 2em;
        line-height: $lineHeight;
    }
    hr {
        border: none;
        margin: 2.427em 0 1.5em;
        text-align: center;
        &::after {
            content: "···";
            letter-spacing: 2em;
            padding-left: 2em;
        }
    }
}