<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}"{{ if and .Site.Params.enableDarkMode .Site.Params.overrideSystemPreferences }}{{ with .Site.Params.defaultTheme | default "light" }} data-theme="{{ . }}"{{ end }}{{ end }}>
    {{ partial "head.html" . }}
    <body>
        {{ partial "header.html" . }}
        {{ block "main" . }}{{ end }}
        {{ partial "components/back-to-top.html" . }}
        {{ partial "footer.html" . }}
        {{ partial "components/service-worker.html" . }}
        {{ partial "third-party/script.html" . }}
    </body>
</html>
