.header {
    z-index: 3;
}


@supports ((-webkit-backdrop-filter: blur(0.5em)) or (backdrop-filter: blur(0.5em))) {
    .header-wrapper{
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background: rbga(var(--color-bg), 0.2);
    }
}

@if ($enableHeaderAutoHide) {
    .header {
        top: 0;
        transition: top 0.3s ease-in-out;

        &.hide {
            top: calc(var(--header-height) * -1);
        }
    }
}
