<header class="header" data-scroll-header>
    <div class="header-wrapper">
        <div class="header-inner {{ cond (or .IsHome (eq (len .Pages) 0)) "single" "list"}}">
            {{ template "site-brand" . }}
            {{ partial "menu.html" . }}
            {{ partial "custom/header.html" . }}
        </div>
    </div>
    {{ partial "components/nav-toggle.html" . }}
</header>

{{ define "site-brand" }}
    <a href="{{ print `/` | relLangURL }}">
        <div class="site-brand">
            {{ if .Site.Params.headerLogo }}
                {{ partial "utils/fingerprint_img.html" (dict
                    "src" .Site.Params.headerLogo
                    "class" "site-logo"
                    "alt" (printf "Logo for %s" .Site.Title)) }}
            {{ end }}
            <p href="{{ print `/` | relLangURL }}" class="site-title">{{ .Site.Title }}</p>
        </div>
    </a>
{{ end }}
