
{{/* If we self-host our fonts, this will inline the font-faces stylesheet
    which bypasses loading of the google fonts stylesheet.
    This makes loading much faster.
    */}}
{{- if .Site.Params.selfHostFonts }}
    {{- $options := (dict "outputStyle" "compressed") -}}
    {{ with resources.Get "scss/font-faces.scss"
        | resources.ExecuteAsTemplate (printf "%s/styles/mercymorn.font-faces.scss" .Lang) .
        | resources.ToCSS $options }}
    <style>
        {{ .Content | safeCSS }}
    </style>
    {{ end }}
{{- else -}}
    {{- partial "google-fonts" . }}
{{- end -}}

{{/* Inlines fonts.scss if inlineFonts is true */}}
{{- if .Site.Params.inlineFonts }}
    {{- $options := (dict "outputStyle" "compressed") -}}
    {{ with resources.Get "scss/fonts.scss"
        | resources.ExecuteAsTemplate (printf "%s/styles/mercymorn.fonts.scss" .Lang) .
        | resources.ToCSS $options }}
    <style>
        {{ .Content | safeCSS }}
    </style>
    {{ end }}
{{- else -}}
    {{- $path := (strings.TrimPrefix "/" (printf `%s/css/mercymorn.fonts.css` .Site.LanguagePrefix)) -}}
    {{- $options := (dict "targetPath" $path "outputStyle" "compressed") -}}

    {{- $style := resources.Get "scss/fonts.scss" | resources.ExecuteAsTemplate (printf "%s/styles/main-rendered.scss" .Lang) . | resources.ToCSS $options -}}
    {{- if .Site.Params.enableFingerprint -}}
        {{- $style = $style | resources.Fingerprint -}}
        <link rel="stylesheet" href="{{ $style.RelPermalink }}"
        {{- if .Site.Params.enableSRI }} integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous"{{- end -}}
        />
    {{- else -}}
        <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    {{- end -}}
{{- end -}}

{{/* Inlines main.scss if inlineFonts is true */}}
{{- if .Site.Params.inlineCSS -}}
    {{- $options := (dict "outputStyle" "compressed") -}}
    <!-- CSS -->
    {{ with resources.Get "scss/main.scss"
        | resources.ExecuteAsTemplate (printf "%s/styles/mercymorn.main.scss" .Lang) .
        | resources.ToCSS $options }}
    <style>
        {{ .Content | safeCSS }}
    </style>
    {{ end }}
{{- else -}}
    {{- $path := (strings.TrimPrefix "/" (printf `%s/css/mercymorn.main.css` .Site.LanguagePrefix)) -}}
    {{- $options := (dict "targetPath" $path "outputStyle" "compressed") -}}

    {{- $style := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate (printf "%s/styles/main-rendered.scss" .Lang) . | resources.ToCSS $options -}}
    {{- if .Site.Params.enableFingerprint -}}
        {{- $style = $style | resources.Fingerprint -}}
        <link rel="stylesheet" href="{{ $style.RelPermalink }}"
        {{- if .Site.Params.enableSRI }} integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous"{{- end -}}
        />
    {{- else -}}
        <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    {{- end -}}
{{- end -}}